.container {
    overflow: auto;

  

}

.map {
    border: 2px solid;
    height: 800px;
    

}

.mapimg {
    margin-left: 50px;
    width: 1380px;
    margin-left: 500px;
    height: 800px;
}

.li {
    border: 1px solid green;
    height: 198px;

}


.img1 {
    height:80px;
    width:80px;
    
}

.img2 {
    height:80px;
    width:80px;


}

.img3 {
    height:80px;
    width:100px;


}

.link-btn1 {
    background: none;
    color: black;
    text-decoration: underline;
  }
  